<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style1.css" media="screen and (min-width:1500px)">
    <link rel="stylesheet" href="../css/style2.css" media="screen and (max-width:1499px)">
    <script src="../js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../js/file1.js"></script>
    <title>goto</title>
</head>



<body>
    <img src="../img-box/img/naiyo.png" alt="" id="naiyo">
    <div class="all">
        <!-- ヘッダー -->
        <script type="text/javascript">
            header_dayo();
        </script>
        
        <br><br><br>

        <!-- メイン -->
        <a id="flask_top"></a>
        <div class="nav_all nav_flask">
            <ul>
                <li class="current"><a href="">目的別</a></li>
                <li><a href="./b_flask2.html">基本</a></li>
                <li><a href="./b_flask3.html">困ったとき</a></li>
            </ul>
        </div>

        <div class="table_vscode">
            <a href="#flask_login"><img src="../img/flas1.png" alt="" class="table_icon"></a>
            <a href="#flask_mypage"><img src="../img/flas2.png" alt="" class="table_icon"></a>
            <a href="#flask_img"><img src="../img/flas3.png" alt="" class="table_icon"></a>
            <a href="#flask_bbs"><img src="../img/flas4.png" alt="" class="table_icon"></a>
            <a href="#flask_search"><img src="../img/flas5.png" alt="" class="table_icon"></a>
            <a href="#flask_gacha"><img src="../img/flas6.png" alt="" class="table_icon"></a>
        </div>

        <a href="#flask_top">
            <div class="namako nama_ko"></div>
        </a>
        <!-- 今度こそメイン -->
        <div class="page">
            <div class="title">Flask</div><br>
            前提 ①ベースのHTMLはbase.html ②dbはdatabase.db ③SQLite使用<br>
            大文字と小文字がごっちゃになってる(主にSQL文)ものがあるけど意味も影響も特にないです<br><br><br>



            <b>■とりあえず入れとけ</b><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
from datetime import datetime
import os
import sqlite3
from flask import Flask, session, render_template, redirect, request
app = Flask(__name__)
app.secret_key = "任意の文字列"

<span class="h"># この間に処理とか書いていきます</span>

@app.errorhandler(404)
def errorhandler(error):
return "404エラーだよ！"

if __name__ == "__main__":
app.run(debug=True)</pre>
            </div>
            <br><br><br>



            <b>■メモ</b><span class="memo">　一つのページに表示したいものがいっぱいある場合、一つの関数の中に処理順番に書いていけば良い感じになるよ</span>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python

@app.route('/')
def gacha():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()

    c.execute("SQL文1")
    変数名1＝(/・ω・)/

    c.execute("SQL文2")
    変数名2＝(｀・ω・´)

    c.execute("SQL文3")
    変数名3＝_(:3」∠)

    conn.commit()
    c.close()
    return render_template('任意の.html', 変数名1=変数名1,変数名2=変数名2,変数名3=変数名3)
みたいな</pre>
            </div>
            <br><br><br><br><br>



            <a id="flask_login"><b>■ログインページを作る（名前とパスワードのみ）</b></a><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python（userテーブルに格納）

@app.route("/login", methods=["GET", "POST"])
def login():

    if request.method == "GET":
        if 'user_id' in session:
            return redirect("/")
        else:
            return render_template("login.html")

    else:
        name = request.form.get("name")
        password = request.form.get("password")
        conn = sqlite3.connect('database.db')
        c = conn.cursor()
        c.execute("select id from user where name = ? and password = ?", (name, password))
        user_id = c.fetchone()
        conn.close()
        if user_id is None:
            return render_template("login.html")
        else:
            session['user_id'] = user_id[0]
            return redirect("/飛ばしたいページ")</pre>
            </div>
            <br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●html(今回はlogin.html)

{% extends &quot;base.html&quot; %}
{% block content%}

&lt;form action=&quot;/login&quot; method=&quot;POST&quot;&gt;
    &lt;p&gt;名前&lt;input type=&quot;text&quot; name=&quot;name&quot;&gt;&lt;/p&gt;
    &lt;p&gt;パスワード&lt;input type=&quot;password&quot; name=&quot;password&quot;&gt;&lt;/p&gt;
    &lt;p&gt;&lt;input type=&quot;submit&quot; value=&quot;ログイン&quot; name=&quot;save&quot;&gt;&lt;/p&gt;
&lt;/form&gt;

{% endblock %}</pre>
            </div>
            <br>

            <b>■ログアウト</b><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python

@app.route("/logout")
def logout():
    session.pop("user_id", None)
    return redirect("/login")</pre>
            </div><br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●HTML

{% extends "base.html" %}
{% block content %}

<span class="h">&lt;!-- これ単体でページ作る必要ないと思うからHTMLのどっかに置いとけ --&gt;</span>
&lt;a href=&quot;/logout&quot;&gt;ログアウト&lt;/a&gt;

{% endblock %}</pre>
            </div>
            <br>


            <b>■会員登録</b><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python（userテーブル、カラムはid,名前,パスワード,イメージ画像,コメント）
@app.route("/register", methods=["GET", "POST"])
def register():
    if request.method == "GET":
        if "user_id" in session:
            return redirect("/")
        else:
            return render_template("register.html")

    else:
        name = request.form.get("name")
        password = request.form.get("password")
        conn = sqlite3.connect("database.db")
        c = conn.cursor()

        <span class="h"># 初期設定で画像とコメントを適当に設定しておくといいかも(画像は予めimgファイルに入れとく)</span>
        c.execute("insert into user values(null,?,?,'no_img.png','ちかわ')",(name, password))
        conn.commit()
        c.close()

        <span class="h">登録後ログインページに飛ばします</span>
        return redirect("/login")</pre>
            </div>
            <br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●html(今回はregister.html)

{% extends &quot;base.html&quot; %}
{% block content %}

&lt;form action=&quot;/register&quot; method=&quot;POST&quot;&gt;
    &lt;p&gt;名前&lt;input type=&quot;text&quot; name=&quot;name&quot;&gt;&lt;/p&gt;
    &lt;p&gt;パスワード&lt;input type=&quot;password&quot; name=&quot;password&quot;&gt;&lt;/p&gt;
    &lt;p&gt;&lt;input type=&quot;submit&quot; value=&quot;登録する&quot; name=&quot;save&quot;&gt;&lt;/p&gt;
&lt;/form&gt;

{% endblock %}</pre>
            </div>
            <br>


            <b>■ログインしてないと見られないようにする</b><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python

@app.route('/ロックかけたいurl')
def 関数名():
    if 'user_id' in session:
        処理
    else:
        return redirect("ログインページに飛ばす処理")</pre>
            </div>
            <br><br><br><br><br>





            <a id="flask_mypage"><b>■マイページを作る</b></a><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python (ログインしてないとみられないよ！)

@app.route('/mypage')
def mypage():
    if 'user_id' in session:
        user_id = session['user_id']
        conn = sqlite3.connect('database.db')
        c = conn.cursor()
        user_id = session['user_id']
        c.execute("select id,name,image,comment from user where id = ?", (user_id,))
        users_info = c.fetchone()
        conn.commit()
        c.close()
        return render_template('mypage.html', users_info=users_info)
    else:
        return redirect("/login")</pre>
            </div>
            <br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●html (mypage.html)

{% extends "base.html" %}
{% block content %}

&lt;img src=&quot;/static/img/{{users_info[2]}}&quot; alt=&quot;&quot;&gt;
<span class="h">&lt;!-- 画像変更の機能つけてます 詳しくは<a href="#flask_img">こっち</a> --&gt;</span>
&lt;form action=&quot;/upload&quot; method=&quot;post&quot; enctype=&quot;multipart/form-data&quot;&gt;
    &lt;input type=&quot;file&quot; name=&quot;upload&quot;&gt;&lt;br&gt;
    &lt;input type=&quot;submit&quot; value=&quot;画像変更&quot;&gt;&lt;br&gt;&lt;br&gt;
&lt;/form&gt;

&lt;p&gt;名前：{{users_info[1]}}&lt;/p&gt;
&lt;p&gt;コメント：{{users_info[3]}}&lt;/p&gt;

<span class="h">&lt;!-- 他に入れたい情報あったらぶちこんでいく感じ --&gt;</span>
{% endblock %}</pre>
            </div>
            <div class="memo">他の人のページも見られるようにするならurl変えてワイルドカード</div>
            <br><br><br><br><br>





            <a id="flask_img"><b>■画像のアップロード</b></a><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python　（userテーブルに画像を追加する）

@app.route('/upload', methods=["POST"])
def upload():
    upload = request.files['upload']

    <span class="h"># 特定のファイル以外をアップロードするとエラーメッセージを返す</span>
    if not upload.filename.lower().endswith(('.png', '.jpg', '.jpeg')):
        return 'png,jpg,jpeg形式のファイルを選択してください'
    save_path = get_save_path()
    filename = upload.filename
    upload.save(os.path.join(save_path, filename))

    user_id = session['user_id']
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    c.execute("update user set image = ? where id=?", (filename, user_id))
    conn.commit()
    conn.close()
    return redirect('/マイページとか')</pre>
            </div><br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●html　画像をアップロードするボタン

{% extends "base.html" %}
{% block content %}

&lt;form action=&quot;/upload&quot; method=&quot;post&quot; enctype=&quot;multipart/form-data&quot;&gt;
    &lt;input type=&quot;file&quot; name=&quot;upload&quot;&gt;&lt;br&gt;
    &lt;input type=&quot;submit&quot; value=&quot;画像変更&quot;&gt;&lt;br&gt;&lt;br&gt;
&lt;/form&gt;

{% endblock %}</pre>
            </div>
            <br><br><br><br><br>
            <a id="flask_bbs"><b>■新着投稿のページを作る</b></a><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python （user_postテーブルの情報とshop,userテーブルの情報を紐付けして表示）
ややこしいのとユーザーの画像ほしいのとで あとでシンプルなコード書きます　ひとまずある分だけ

@app.route('/post_page')
def post_page():

    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    c.execute(
    "select image1,title,text,time,user.name,shop.id,shop.name from user_post JOIN user ON 
    user_post.users_id=user.id JOIN
    shop ON user_post.shop_id=shop.id ORDER BY num DESC LIMIT 50")
    text_list = []
    for row in c.fetchall():
        text_list.append(
            {"image1": row[0], "title": row[1], "text": row[2], "time": row[3], "user.name":
            row[4],"shop.id":row[5],"shop.name":row[6]})
    c.close()
    return render_template('post_page.html', text_list=text_list)</pre>
            </div><br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●html(post_page.html)

{% extends 'base.html' %}
{% block content %}

{% for item in text_list %}

&lt;p&gt;{{item[&quot;user.name&quot;]}}　{{item[&quot;title&quot;]}}&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;shops/{{item[&#039;shop.id&#039;]}}&quot;&gt;{{item[&quot;shop.name&quot;]}}&lt;/p&gt;

&lt;img src=&quot;/static/img/{{item[&#039;image1&#039;]}}&quot; alt=&quot;&quot;&gt;
&lt;p&gt;{{item[&quot;text&quot;]}}&lt;/p&gt;
&lt;p&gt;投稿時間:{{item[&quot;time&quot;]}}&lt;/p&gt;

{% endfor %}
{% endblock %}</pre>
            </div>
            <br>

            <b>■続き　投稿画面</b><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python ぅゎ。。。私のコード汚すぎ……？！ ログインしてないと投稿不可

@app.route('/add_post')
def add_post():
    if 'user_id' in session:
        conn = sqlite3.connect('database.db')
        c = conn.cursor()
        c.execute("SELECT id,name FROM shop")
        shop_comment_search = []
        for row in c.fetchall():
        shop_comment_search.append(
        {"id": row[0], "name": row[1]})
        conn.commit()
        c.close()
        return render_template('add_post.html', shop_comment_search=shop_comment_search)
    else:
        return redirect("/login")
    
@app.route('/add_post', methods=["POST"])
def add_post_yeah():
    if 'user_id' in session:
        shop_name = request.form.get("shop_comment_search")
        conn = sqlite3.connect('database.db')
        c = conn.cursor()
        c.execute("SELECT id FROM shop where name = ?", (shop_name,))
        # index番号を0番にすることで1の後ろの，とか入らない物を消すよ
        shop_id = c.fetchone()[0]
        image1 = request.files["image1"]
            if not image1.filename.lower().endswith(('.png', '.jpg', '.jpeg')):
            return 'png,jpg,jpeg形式のファイルを選択してください！'
        save_path = get_save_path()
        filename = image1.filename
        image1.save(os.path.join(save_path, filename))
        user_id = session['user_id']
        title = request.form.get("title")
        text = request.form.get("text")
        time = datetime.now().strftime('%Y/%m/%d %H:%M:%S')
        c.execute("insert into user_post values(null,?,?,?,?,?,?)",
            (user_id, shop_id, filename, title, text, time))
        conn.commit()
        c.close()
        return redirect("/post_page")
    else:
        return redirect("/login")</pre>
            </div>
            <br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●html (add_post.html)ヒエ……

{% extends "base.html" %}
{% block content %}
&lt;form action=&quot;/add_post&quot; method=&quot;POST&quot; enctype=&quot;multipart/form-data&quot;&gt;
    &lt;label&gt;写真:&lt;/label&gt;
    &lt;input type=&quot;file&quot; name=&quot;image1&quot;&gt;

    &lt;label&gt;投稿する店:&lt;/label&gt;
    &lt;p&gt;&lt;select name=&quot;shop_comment_search&quot;&gt;
    {%for item in shop_comment_search%}
    &lt;option value=&quot;{{item[&#039;name&#039;]}}&quot;&gt;{{item[&#039;name&#039;]}}&lt;/option&gt;
    {% endfor %}
    &lt;/select&gt;&lt;/p&gt;

    &lt;label&gt;タイトル:&lt;/label&gt;
    &lt;input type=&quot;text&quot; size=&quot;100&quot; maxlength=&quot;100&quot; name=&quot;title&quot;&gt;
    &lt;label&gt;コメント:&lt;/label&gt;
    &lt;input type=&quot;text&quot; size=&quot;100&quot; maxlength=&quot;100&quot; name=&quot;text&quot;&gt;
    &lt;button type=&quot;submit&quot;&gt;投稿！&lt;/button&gt;
&lt;/form&gt;

{% endblock %}</pre>
            </div>
            <br>

            <b>■処理を行った時間を取得する（投稿ページなどに使用）</b><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python

from datetime import datetimeを突っ込んでおく

変数名（任意） = datetime.now().strftime('%Y/%m/%d %H:%M:%S') を処理内にぶちこんで
あとはc.executeで？になってる時間の部分に変数名を代入するだけ
SQLのテーブルに時間を突っ込むためのカラムを用意しておくのを忘れずに！
例文が必要なら上のきったない文がんばって読んで</pre>
            </div><br><br><br><br><br>





            <a id="flask_search"><b>■検索機能</b></a><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python（今回はshopテーブルからカラムnameと部分一致するものを表示）

@app.route('/search_page', methods=["POST"])
def search_word_name():
    shop_word = request.form.get("shop_word")
    conn = sqlite3.connect("database.db")
    c = conn.cursor()

    <span class="h">受け取る検索ワードは'%'で囲むことで部分一致にすることができる</span>
    c.execute("select * from shop WHERE name LIKE ?", ('%'+shop_word+'%',))
    shop_search = []

    <span class="h"># 該当するものをすべて表示したいのでfor文に</span>
    for row in c.fetchall():
    shop_search.append({"id": row[0], "name": row[1], "genre": row[2], "nearstation": row[3]})
    conn.commit()
    c.close()
    return render_template('search_page.html', shop_search=shop_search)</pre>
            </div>
            <br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●html　(top.html)(検索ワードを受け取るページ)

{% extends &quot;base.html&quot; %}
{% block content %}

&lt;form action=&quot;/search_page&quot; method=&quot;post&quot;&gt;店名&lt;br&gt;
    &lt;input type=&quot;text&quot; name=&quot;shop_word&quot;&gt;
    &lt;input type=&quot;submit&quot; name=&quot;save&quot; value=&quot;検索&quot;&gt;
&lt;/form&gt;

{% endfor %}</pre>
            </div><br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●html　(search_page.html)（検索結果を表示するページ）

{% extends "base.html" %}
{% block content %}

{% for item in shop_search %}

<span class="h">&lt;!-- 検索で出したものの個別のページに飛ばしたい場合は下記のようにリンクつけておくといい感じ --&gt;</span>
<span class="h">&lt;!-- /shops/&lt;id&gt;の処理(下の■検索結果から～のやつ)を行うことを想定しています ワイルドカード使える --&gt;</span>
&lt;a href=&quot;/shops/{{item[&#039;id&#039;]}}&quot;&gt;
&lt;p&gt;{{item[&quot;name&quot;]}}&lt;/p&gt;
&lt;p&gt;{{item[&quot;genre&quot;]}}&lt;br&gt; {{item[&quot;nearstation&quot;]}}&lt;/a&gt;

{% endfor %}
{% endblock %}</pre>
            </div>
            <br>

            <b>■検索結果から個別のページに飛ばす</b>
            <span class="memo">上のやつの続き</span>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python

@app.route('/shops/&lt;int:id&gt;')
def shops(id):
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    c.execute(
    "select * from shop LEFT OUTER JOIN shop_data ON shop.id=shop_data.shop_id where id=?", (id,))
    shop_info = c.fetchone()
    conn.commit()
    c.close()
    return render_template('shop_page.html', shop_info=shop_info)</pre>
            </div><br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●html (shop_page.html)

{% extends "base.html" %}
{% block content %}

<span class="h">&lt;!-- pythonで取得した情報をいい感じに表示すればいいと思う --&gt;</span>
<span class="h">&lt;!-- がんばれ --&gt;</span>
{% endblock %}</pre>
            </div><br><br><br><br><br>





            <a id="flask_gacha"><b>■ガチャ</b></a><br>
            <div class="kuro sourceview">
                <pre class="brush: html;">
●python（shopテーブルからランダム排出）

@app.route('/gacha')
def gacha():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()

    <span class="h"># 今回は1つだけ抽出 10連ガチャにしたい場合はLIMIT10のfor文とかにして</span>
    c.execute("SELECT * FROM shop ORDER BY random() LIMIT 1")
    shop_gacha = c.fetchone()
    c.close()
    return render_template('top.html', shop_gacha=shop_gacha)</pre>
            </div><br>

            <div class="kuro sourceview">
                <pre class="brush: html;">
●html (top.html 結果のページ)
<span class="h">(ボタンとか押して処理開始するなら即座に結果変更、ページ開いた時点で結果が出るならリロードで変更)</span>

{% extends "base.html" %}
{% block content %}

<span class="h">&lt;!-- 10連ガチャとかにしたいならfor文で{{item{'なんか'}}}の形にしたほうがよい --&gt;</span>
{{shop_gacha[0]}},{{shop_gacha[1]}},{{shop_gacha[2]}}

{% endblock %}</pre>
            </div>
            <br><br><br><br><br>

        </div>
    </div>
</body>

</html>
